#catchcopy {text-align:center;
     color: #000;
          font-size:15px;
           margin:0px 30px 0px 30px;
        font-family: 'Rubik', sans-serif;
      font-style: normal;
     font-weight: bold;

                    
}

h1 {text-align:center;
color: #000;
margin:0px 30px 10px 30px;

        font-size:45px;
        font-family: 'Rubik', sans-serif;
      font-style: normal;
     font-weight: bold;

      
  }

a { color:#000000; text-decoration:none; }
div li{display: inline-block;
}

ul {
      text-align:center;
color: #000;
        font-size:25px;
        font-family: 'Rubik', sans-serif;
      font-style: normal;
     font-weight: bold;

}




#copyright {text-align:center;
color: #000;
        font-size:25px;
        font-family: 'Rubik', sans-serif;
      font-style: normal;
     font-weight: bold;

      
  }
  
